{{ ansible_managed | comment }}
[Unit]
Description=Prometheus Node Exporter
Documentation=https://github.com/prometheus/node_exporter
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ node_exporter_user }}
Group={{ node_exporter_group }}
ExecStart={{ node_exporter_binary }} \
    --web.listen-address={{ node_exporter_listen_address }} \
    --web.telemetry-path={{ node_exporter_metrics_path }}
{%- for collector in node_exporter_enabled_collectors %} \
    --collector.{{ collector }}
{%- endfor %}
{%- if 'textfile' in node_exporter_enabled_collectors %} \
    --collector.textfile.directory={{ node_exporter_textfile_directory }}
{%- endif %}
{%- for collector in node_exporter_disabled_collectors %} \
    --no-collector.{{ collector }}
{%- endfor %}
{%- for flag in node_exporter_extra_flags %} \
    {{ flag }}
{%- endfor %}

Restart=on-failure
RestartSec=5
{% if node_exporter_harden_service %}
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths={{ node_exporter_textfile_directory }}
PrivateTmp=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
{% endif %}

[Install]
WantedBy=multi-user.target
